.weekwinner1 {
    background-image: url('../../../assets/images/bala.png');
    height:75%;
    width:75%;
}
.tab .active{
    background-color: rgb(183, 209, 208);
    border:none;

}
.tablinks {
    width:12.5%;
    padding:5px 10px;
    background:none;
    border:none;
    outline:0;
    
}
.tab {
    width:100%;
    background-color: rgb(211, 238, 237);
    float: left;
}
@media(max-width:767.98px){
    .tablinks {
      float: left;
      width:25%;
    }
  }