.result-table {
    width:60%;
    max-height: 450px;
    overflow-y: scroll;
}

.rank-table {
    width:40%;
    max-height: 450px;
    overflow-y: scroll;
}
.matchresultcomponent {
    float: left;
    width:50%;
}
.weekwinnercomponent {
    float: left;
    width:50%;
}
@media(max-width:767.98px) {
    .result-table, .rank-table{
        width:100%;
    }
    
    .matchresultcomponent {
        float: left;
        width:100%;
    }

    .weekwinnercomponent {
        float: left;
        width:100%;
    }
}