.score-tables-odd {
    width:50%;
    float:left;
    background-color: lavender;
}

.score-tables-even {
    width:50%;
    float:left;
    background-color: rgb(109, 109, 194);
}



@media(max-width:767.98px) {
    .score-tables-odd {
        width:100%;
        margin-top:10px;
    } 
    .score-tables-even {
        width:100%;
        margin-top: 10px;
    } 
}